<h2>Список вызовов консультанта</h2>

<table class="table">
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Телефон</th>
      <!--th>E-mail</th-->
      <th>Партнёр</th>
      <th>Торговая точка</th>
      <!--th>Адрес</th-->
      <th>Статус</th>
      <!--th>Действие</th-->
    </tr>
  </thead>
  <tbody ng-repeat="order in orders">
    <tr ng-click="order._active=!order._active">
      <td>{{ order.client }}</td>
      <td>{{ order.contact.phone }}</td>
      <!--td>{{ order.contact.email }}</td-->
      <td>{{ order.partner.name }}</td>
      <td>{{ order.partner.tradepoint }}</td>
      <!--td>{{ order.partner.address }}</td-->
      <td>{{ order.status }}</td>
      <!--td></td-->
    </tr>
    <tr class="add" ng-show="order._active==true">
      <td colspan="5">
        <form class="formx" ng-show="isAccept(order.status)&&role==0" ng-submit="changeStatus('Принять',order._id)"/>
          <input class="btnx" type="submit" value="Принять" />
        </form>
        <form class="formx" ng-show="isResolve(order.status)&&role==1" ng-submit="changeStatus('Завершить',order._id)"/>
          <input class="btnx" type="submit" value="Завершить" />
        </form>
        <form class="formx" ng-show="isCancel(order.status)&&role==1" ng-submit="changeStatus('Отменить',order._id)"/>
          <input class="btnx" type="submit" value="Отменить" />
        </form>
        Адрес: {{ order.partner.address }}
      </td>
    </tr>
  </tbody>
</table>
