<h2>Вызов консультанта</h2><br>

<form class="form" name="OrderForm" ng-submit="Create(neworder)"/>
  <div class="form-field">
    <label class="form-label" for="client">Имя клиента:</label>
    <input class="form-input" id="client" required ng-model="neworder.client"/>
  </div>
<br>
  <div class="form-field">
    <label class="form-label" for="phone">Телефон:</label>
    <input class="form-input" type="tel" id="phone" required ng-model="neworder.contact.phone"/>
  </div>
<br>
  <div class="form-field">
    <label class="form-label" for="email">E-mail:</label>
    <input class="form-input" type="email" id="email" ng-model="neworder.contact.email"/>
  </div>
<br>
  <div class="form-field">
    <label class="form-label" for="place2go">E-mail:</label>
    <select class="form-input" id="place2go" required ng-model="neworder.place2go" ng-init="neworder.place2go = '0'">
      <option value="0">Иду с клиентом</option>
      <option value="1">Подойди ко мне</option>
    </select>
  </div>
<br>
  <input class="btn" type="submit" value="Создать" />

</form>

<!--p>Two-way binding information</p-->
<!--{{ neworder }}-->
