<h2>Список вызовов</h2>

<table class="tablexx">
  <thead>
    <tr>
      <th width="25%">
        <span ng-show="role==0">Партнёр</span>
        <span ng-show="role==1">Консультант</span>&nbsp;
      </th>
      <th width="25%">Место</th>
      <th width="25%">Дата</th>
      <th width="25%">Статус</th>
    </tr>
  </thead>
</table>
<div class="cell" ng-repeat="order in orders">
  <div class="act" ng-click="order._active=!order._active">

    <table class="tablexx">
      <tbody>
        <tr>
          <td width="25%">
            <span ng-show="role==0">{{ order.partner.name }}</span>
            <span ng-show="role==1">{{ order.consultant.name }}</span>&nbsp;
          </td>
          <td width="25%">
            <span ng-show="order.place2go==0">У консультанта</span>
            <span ng-show="order.place2go==1">Подойти к клиенту</span>&nbsp;
          </td>
          <td width="25%">{{ order.created | date:'dd.MM.yyyy'}}</td>
          <td width="25%">{{ order.status }}</td>
        </tr>
      </tbody>
    </table>

    <div class="opt" ng-show="order._active==true">
      <table class="tablexxx">
        <tbody>
          <tr ng-show="role==0">
            <td width="33%">Клиент: {{ order.client }}</td>
            <td width="33%">Торговая точка: {{ order.partner.tradepoint }}</td>
            <td width="34%">Адрес: {{ order.partner.address }}</td>
          </tr>
          <tr>
            <td colspan="3">Действие...
              <form class="formx" name="AcceptForm" ng-show="isAccept(order.status)&&role==0" ng-submit="Accept(order._id, accorder)"/>
                <label class="form-label" for="time2go">Буду через:</label>
                <select class="formx-input" id="time2go" ng-model="accorder.time2go" ng-init="accorder.time2go = '3'">
                  <option value="3">3 мин.</option>
                  <option value="5">5 мин.</option>
                  <option value="10">10 мин.</option>
                </select>
                <input class="btnx" type="submit" value="Принять" />
              </form>

              <form class="formx" name="ResolveForm" ng-show="isResolve(order.status)&&role==1" ng-submit="Resolve(order._id, resorder)"/>
                <!--label class="form-label" for="stars">Оцените вызов:</label-->
                <select class="formx-input" id="stars" ng-model="resorder.stars" ng-init="resorder.stars = '0'">
                  <option value="0">Оценка</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <!--label class="form-label" for="comment">Комментарий:</label-->
                <input class="formx-input" placeholder="Оставьте отзыв" id="comment" ng-model="resorder.comment"/>
                <input class="btnx" type="submit" value="Завершить" />
              </form>
              <form class="formx" ng-show="isCancel(order.status)&&role==1" ng-submit="changeStatus('Отменить',order._id)"/>
                <input class="btnx" type="submit" value="Отменить" />
              </form>

            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
