<h2>Список вызовов</h2><br>
<table class="grid">
  <thead>
    <tr>
      <th width="25%">
        <span ng-show="user.role==0">Партнёр</span>
        <span ng-show="user.role==1">Консультант</span>&nbsp;
      </th>
      <th width="25%">Место</th>
      <th width="25%">Дата</th>
      <th width="25%">Статус</th>
    </tr>
  </thead>
</table>
<div class="cell" ng-repeat="order in orders">
  <div class="act" ng-click="order._active=!order._active" ng-show="filter.city&&isDeadline(order.status, order.created)">

    <table class="grid">
      <tbody>
        <tr>
          <td width="25%">
            <span style="color:red" ng-show="isDeadline(order.status, order.created)"><span ng-show="user.role==0">{{ order.partner.name }}</span><span ng-show="user.role==1">{{ order.consultant.name }}</span></span>
            <span ng-show="!isDeadline(order.status, order.created)"><span ng-show="user.role==0">{{ order.partner.name }}</span><span ng-show="user.role==1">{{ order.consultant.name }}</span></span>
            &nbsp;
          </td>
          <td width="25%">
            <span style="color:red" ng-show="isDeadline(order.status, order.created)"><span ng-show="order.place2go==0">Кредитная зона</span><span ng-show="order.place2go==1">Торговая точка</span></span>
            <span ng-show="!isDeadline(order.status, order.created)"><span ng-show="order.place2go==0">Кредитная зона</span><span ng-show="order.place2go==1">Торговая точка</span></span>
            &nbsp;
          </td>
          <td width="25%">
            <span style="color:red" ng-show="isDeadline(order.status, order.created)">{{ order.created | date:'dd.MM HH:mm'}}</span>
            <span ng-show="!isDeadline(order.status, order.created)">{{ order.created | date:'dd.MM HH:mm'}}</span>
            &nbsp;
          </td>
          <td width="25%">
            <span style="color:red" ng-show="isDeadline(order.status, order.created)">{{ order.status }}</span>
            <span ng-show="!isDeadline(order.status, order.created)">{{ order.status }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="opt" ng-show="order._active==true">
    <table class="grid-sub">
      <tbody>
        <tr ng-show="user.role==0">
          <td width="33%">Партнёр: {{ order.partner.tradepoint.name }}</td>
          <td width="33%">Адрес: {{ order.partner.tradepoint.address }}</td>
          <td width="34%">Контакт: {{ order.partner.phone }}</td>
        </tr>
        <tr ng-show="user.role==1&&isAccept(order.status)">
          <td width="33%">Принят: {{ order.accepted | date:'dd.MM HH:mm'}}</td>
          <td width="33%">Время прибытия: {{ order.time2go }} мин.</td>
          <td width="34%">Контакт: {{ order.consultant.phone }}</td>
        </tr>
        <tr>
          <td width="33%">Клиент: {{ order.client }}</td>
          <td width="33%">Телефон: {{ order.contact.phone }}</td>
          <td width="34%">E-mail: {{ order.contact.email }}</td>
        </tr>
        <tr ng-show="isResolve(order.status)">
          <td>Завершён: {{ order.resolved | date:'dd.MM HH:mm'}}</td>
          <td>Оценка: {{ order.stars }}</td>
          <td>Отзыв: {{ order.comment | limitTo:50 }}</td>
        </tr>
        <tr>
          <td colspan="3">
            <span ng-show="isCancel(order.status)">Отменён: {{ order.cancelled | date:'dd.MM HH:mm'}}</span>

            <form class="formx" name="AcceptForm" ng-show="user.role==0&&isNew(order.status)" ng-submit="Process('Принять', order._id, accorder)"/>
              <label class="form-label" for="time2go">Буду через:</label>
              <select class="formx-input" id="time2go" ng-model="accorder.time2go" ng-init="accorder.time2go = '3'">
                <option value="3">3 мин.</option>
                <option value="5">5 мин.</option>
                <option value="10">10 мин.</option>
              </select>
              <input class="btnx" type="submit" value="Принять" />
            </form>

            <form class="formx" name="ResolveForm" ng-show="user.role==1&&isAccept(order.status)" ng-submit="Process('Завершить', order._id, resorder)"/>
              <select class="formx-input" id="stars" ng-model="resorder.stars" ng-init="resorder.stars = '0'">
                <option value="0">Оценка</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <input class="formx-input" placeholder="Оставьте отзыв" id="comment" ng-model="resorder.comment"/>
              <input class="btnx" type="submit" value="Завершить" />
            </form>

            <form class="formx" name="CancelForm" ng-show="user.role==1&&(isNew(order.status)||isAccept(order.status))" ng-submit="Process('Отменить', order._id, null)"/>
              <input class="btnx" type="submit" value="Отменить" />
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>

<form class="formx" name="FilterForm"/>
  <label class="form-label" for="from">Фильтры:</label>
  <div class="form-field">
    <input class="formx-input" type="date" id="from" ng-model="filter.from"/>
    &nbsp;
    <input class="formx-input" type="date" id="to" ng-model="filter.to"/>
    &nbsp;&nbsp;&nbsp;
    <select class="formx-input" id="status" ng-model="filter.status">
      <option value="Любой">Любой</option>
      <option value="Новый">Новый</option>
      <option value="Принят">Принят</option>
      <option value="Завершён">Завершён</option>
      <option value="Отменён">Отменён</option>
    </select>
    &nbsp;&nbsp;&nbsp;
    <label ng-show="user.role==0">Список вызовов по городу:</label>
    &nbsp;
    <input class="formx-input" type="checkbox" id="city" ng-show="user.role==0" ng-model="filter.city"/>
  </div>
</form>
<form class="formx" ng-submit="Refresh(null)"/>
  <input class="btnx" type="submit" value="Обновить" />
</form>
<a class="formx" ui-sref="orders-new" ng-show="user.role==1">
  <input class="btnx" type="submit" value="Новый вызов" />
</a>
<br>
