<h2>Вызов консультанта</h2><br>
<form class="form" name="OrderForm"/>
  <div class="form-field">
    <label class="form-label" for="client">Имя клиента:</label>
    <input class="form-input" id="client" required ng-model="neworder.client"/>
  </div><br>
  <div class="form-field">
    <label class="form-label" for="phone">Телефон:</label>
    <input class="form-input" type="tel" id="phone" required ng-model="neworder.contact.phone"/>
  </div><br>
  <div class="form-field">
    <label class="form-label" for="email">E-mail:</label>
    <input class="form-input" type="email" id="email" ng-model="neworder.contact.email"/>
  </div><br>
  <div class="form-field">
    <label class="form-label" for="place2go">Куда подойти:</label>
    <select class="form-input" id="place2go" required ng-model="neworder.place2go" ng-init="neworder.place2go = '0'">
      <option value="0">Кредитная зона</option>
      <option value="1">Торговая точка</option>
    </select>
  </div>
</form>
<form class="formx" ng-submit="Process('Создать', null, neworder)"/>
  <input class="btnx" type="submit" value="Создать" />
</form>
<form class="formx" ng-submit="Refresh(true)"/>
  <input class="btnx" type="submit" value="Закрыть" />
</form>
