<h2>Профиль пользователя</h2>

<table class="tablex">
  <tbody>
    <tr>
      <td><img ng-src="{{gravatarUrl}}"/></td>
      <td>{{ user.name }}</td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Телефон:</td>
      <td>{{ user.phone }}</td>
    </tr>
    <tr>
      <td>Город:</td>
      <td>{{ user.city }}</td>
    </tr>

    <tr>
      <div class="opt" ng-repeat="pt in tps">
        <table class="tablexxx">
          <tbody>
            <tr>
              <td>{{ pt.name }}</td>
              <td>{{ pt.tradepoint }}</td>
              <td>{{ pt.address }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </tr>

  </tbody>
</table>
<br>

<div class="cell">
    <ul class="grid list list--unstyled mbl" ng-cloak>
      <li><div class="card act">
        <a class="card-link" ui-sref="orders">Список вызовов</a>
      </div></li>
      <li>&nbsp;</li>
      <li><div class="card act" ng-show="user.role==1">
        <a class="card-link" ui-sref="orders-new">Новый вызов</a>
      </div></li>
    </ul>
</div>
<br>



<table class="tablexx">
  <thead>
    <tr>
      <th width="20%">Юр. лицо</th>
      <th width="20%">Торговая точка</th>
      <th width="20%">Город</th>
      <th width="40%">Адрес</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
</table>
<div class="cell" ng-repeat="point in points">
  <div class="act" ng-click="point._active=!point._active">
    <table class="tablexx">
      <tbody>
        <tr>
          <td width="20%">{{ point.name }}</td>
          <td width="20%">{{ point.tradepoint }}</td>
          <td width="25%">{{ point.city }}</td>
          <td width="25%">{{ point.address }}</td>
          <td><div ng-show="point._active==true">+</div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>

<form class="formx" name="TradepointForm" ng-submit="Filter()"/>
  <input class="btnx" type="submit" value="Указать место работы" />
</form>
<form class="formx" name="TradepointForm" ng-submit="SavePoints(points)"/>
  <input class="btnx" type="submit" value="Сохранить" />
</form>
