<h2>Профиль пользователя</h2><br>

<div class="cell">
    <ul class="hzshka list list--unstyled mbl" ng-cloak>
      <li><div class="card act">
        <a class="card-link" ui-sref="orders">Список вызовов</a>
      </div></li>
      <li>&nbsp;</li>
      <li><div class="card act" ng-show="user.role==1">
        <a class="card-link" ui-sref="orders-new">Новый вызов</a>
      </div></li>
    </ul>
</div>

<table class="box">
  <tbody>
    <tr>
      <td><img ng-src="{{gravatarUrl}}"/></td>
      <td>{{ user.name }}</td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Телефон:</td>
      <td>{{ user.phone }}</td>
    </tr>
    <tr>
      <td>Город:</td>
      <td>{{ user.city }}</td>
    </tr>
    <tr>
      <td> Место работы: </td>
      <td ng-show="user.role==1"> {{ user.tradepoint.name }} | {{ user.tradepoint.tradepoint }} </td>
      <td ng-show="user.role==0"> {{ user.tradepoint.wp }} {{ user.tradepoint.tradepoint }} </td>
    </tr>
    <tr>
      <td> Адрес: </td>
      <td> {{ user.tradepoint.address }} </td>
    </tr>
    <tr ng-show="user.role==0">
      <td colspan="2">
        <div class="cell">
          <form class="switch" name="ActionForm" ng-submit="atWork()"/>
            <label class="switch-left" ng-show="user.atWork==false">Нет</label>
            <label class="switch-left-inactive" ng-show="user.atWork==true">Нет</label>
            <input class="switch-input no" type="submit" value="На работе" ng-show="user.atWork==false"/>
            <input class="switch-input ye" type="submit" value="На работе" ng-show="user.atWork==true"/>
            <label class="switch-right"ng-show="user.atWork==true">Да</label>
            <label class="switch-right-inactive"ng-show="user.atWork==false">Да</label>
          </form>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="cell" ng-show="_tradepoints==true">
  <table class="grid">
    <thead>
      <tr>
        <th width="25%" ng-show="user.role==1">Юр. лицо</th>
        <th width="25%" ng-show="user.role==0">Код раб. места</th>
        <th width="25%">Торговая точка</th>
        <th width="25%">Город</th>
        <th width="25%">Адрес</th>
      </tr>
    </thead>
  </table>
  <div class="cell" ng-repeat="point in points">
    <div class="act" ng-click="setTradepoint(point)">
      <table class="grid">
        <tbody>
          <tr>
            <td width="25%" ng-show="user.role==1">{{ point.name }}</td>
            <td width="25%" ng-show="user.role==0">{{ point.wp }}</td>
            <td width="25%">{{ point.tradepoint }}</td>
            <td width="25%">{{ point.city }}</td>
            <td width="25%">{{ point.address }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</div>
<form class="formx" name="TradepointForm" ng-hide="_tradepoints==true" ng-submit="getTradepoints()"/>
  <input class="btnx" type="submit" value="Указать место работы" />
</form>
<form class="formx" ng-show="_tradepoints==true" ng-submit="_tradepoints=false"/>
  <input class="btnx" type="submit" value="Отмена" />
</form>
<br>
<div class="cell" ng-show="user.role==3">
  {{ xname }}
  {{ xusers }}
</div>
