<h2>Регистрация</h2><br>

<form class="form" name="SignupForm" ng-submit="Register(user)"/>
  <div class="form-field">
    <input class="form-input" id="name" placeholder="Имя" required ng-model="user.name"/>
  </div>
  <div class="form-field">
    <input class="form-input" type="email" id="email" placeholder="E-mail" required ng-model="user.email"/>
  </div>
  <div class="form-field">
    <input class="form-input" type="password" id="password" placeholder="Пароль" required ng-model="user.password"/>
  </div>
  <div class="form-field">
    <input class="form-input" type="tel" id="phone" placeholder="Телефон" required ng-model="user.phone"/>
  </div>
  <select class="formx-input" id="city" ng-model="user.city" ng-init="user.city = '_'">
    <option value="_">Город</option>
    <option value="Самара">Самара</option>
    <option value="Москва">Москва</option>
  </select>
  <div class="form-field">
    <input class="form-input" id="tradepoint" placeholder="Торговая точка" required ng-model="user.tradepoint"/>
  </div>
  <div class="form-field">
    <input class="form-input" id="address" placeholder="Адрес" required ng-model="user.address"/>
  </div>
<!-- atWork role -->
  <input class="btn" type="submit" value="Зарегистрироваться" />
</form>
