<h2>Регистрация</h2><br>

<form class="form" name="SignupForm" ng-submit="Register(user)"/>
  <div class="form-field">
    <label class="form-label" for="name">Имя:</label>
    <input class="form-input" id="name" required ng-model="user.name"/>
  </div>
<br>
  <div class="form-field">
    <label class="form-label" for="email">E-mail:</label>
    <input class="form-input" type="email" id="email" required ng-model="user.email"/>
  </div>
<br>
  <div class="form-field">
    <label class="form-label" for="password">Пароль:</label>
    <input class="form-input" type="password" id="password" required ng-model="user.password"/>
  </div>
<br>
  <div class="form-field">
    <label class="form-label" for="phone">Телефон:</label>
    <input class="form-input" type="tel" id="phone" required ng-model="user.phone"/>
  </div>
<br>
  <div class="form-field">
    <label class="form-label" for="city">Город:</label>
    <input class="form-input" id="city" required ng-model="user.city"/>
  </div>
<br>
  <div class="form-field">
    <label class="form-label" for="tradepoint">Торговая точка:</label>
    <input class="form-input" id="tradepoint" required ng-model="user.tradepoint"/>
  </div>
<br>
  <div class="form-field">
    <label class="form-label" for="address">Адрес:</label>
    <input class="form-input" id="address" required ng-model="user.address"/>
  </div>
<br>
<!-- atWork role -->
  <input class="btn" type="submit" value="Создать" />
</form>
