<h2>Ой</h2><br>
<table class="grid" ng-show="user.role==0">
  <thead>
    <tr>
      <th width="25%">name</th>
      <th width="25%">email</th>
      <th width="25%">city</th>
      <th width="25%">role</th>
    </tr>
  </thead>
</table>
<div class="cell" ng-show="user.role==0" ng-repeat="u in users">
  <div class="act" ng-click="u._active=!u._active">
    <table class="grid">
      <tbody>
        <tr>
          <td width="25%">{{ u.name }} &nbsp;</td>
          <td width="25%">{{ u.email }}&nbsp;</td>
          <td width="25%">{{ u.city }} &nbsp;</td>
          <td width="25%">{{ u.role }}       </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="opt" ng-show="u._active==true">
    <table class="grid-sub">
      <tbody>
        <tr>
          <td width="33%">Тел.: {{ u.phone }}</td>
          <td width="33%">Партнёр: {{ u.tradepoint.name }} </td>
          <td width="34%">Код ТТ: {{ u.tradepoint.tp }} </td>
        </tr>
        <tr>
          <td width="33%">ТЦ: {{ u.tradepoint.tradepoint }} </td>
          <td width="33%">Адрес: {{ u.tradepoint.address }} </td>
          <td width="34%">Раб. место: {{ u.tradepoint.wp }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
