<h2>Ой</h2><br>
<table class="grid" ng-show="user.role==2">
  <thead>
    <tr>
      <th width="25%">name</th>
      <th width="25%">email</th>
      <th width="25%">code</th>
      <th width="25%">role</th>
    </tr>
  </thead>
</table>
<div class="cell" ng-show="user.role==0" ng-repeat="u in users">
  <div class="act" ng-click="u._active=!u._active">
    <table class="grid">
      <tbody>
        <tr>
          <td width="25%">{{ u.name }} &nbsp;</td>
          <td width="25%">{{ u.email }}&nbsp;</td>
          <td width="25%" ng-show="u.role==0">{{ u.tradepoint.tp }} &nbsp;</td>
          <td width="25%" ng-show="u.role==1">{{ u.tradepoint.wp }} &nbsp;</td>
          <td width="25%"> {{ u.role }} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="opt" ng-show="u._active==true">
    <table class="grid-sub">
      <tbody>
        <tr>
          <td width="33%"> {{ u.phone }} </td>
          <td width="33%"> {{ u.tradepoint.tradepoint }} </td>
          <td width="34%"> {{ u.tradepoint.name }} </td>
        </tr>
        <tr>
          <td colspan="3" width="100%">Адрес: {{ u.tradepoint.address }} </td>
        <tr>
          <td colspan="3" width="100%">
            <form class="formx" name="SendForm" ng-submit="SendLetter(u.email, u.message)"/>
              <input class="formx-input" placeholder="Сообщение пользователю" id="message" ng-model="u.message"/>
              <input class="btnx" type="submit" value="Отправить" />
            </form>

            <form class="formx" name="RoleForm" ng-submit="setRole(u.email, u.newrole)"/>
              <label class="form-label" for="newrole">Новая роль:</label>
              <select class="formx-input" id="newrole" ng-model="u.newrole" ng-init="u.newrole = '0'">
                <option value="0">Консультант</option>
                <option value="1">Продавец-партнёр</option>
                <option value="2">Супервизор</option>
                <option value="3">Администратор</option>
              </select>
              <input class="btnx" type="submit" value="Принять" />
            </form>

            <form class="formx" name="SendForm" ng-submit="DeleteUser(u.email, user.role)"/>
              <input class="btnx" type="submit" value="Удалить" />
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
